{% extends 'dashboard/index.html' %}
{% block title %}Início{% endblock %}
{% block body %}
    <div class="container-fluid">
        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Posts</h1>
        <p class="mb-4"> Cadastro e Administração de Posts.</p>
        <div class="container box-busca">
            <div class="row">
                <div class="col-md-3 mr-auto mt-2 mt-lg-0">
                    <a href="{% url 'cadastra_post' %}" class="btn btn-primary btn-sm text-margin-bottom"><i
                            class="fas fa-plus"></i> Novo Post</a>
                </div>

                <div class="col-md-6">
                        <form method="get" class="my-2 my-lg-0">
                            <div class="input-group custom-search-form ">
                                <input class="form-control" placeholder="Buscar Post" type="text" name="q"
                                       value="{{ request.GET.q }}">
                                <span class="input-group-btn">
                                <button class="btn btn-primary" type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                        </form>

                </div>
            </div>
        </div>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary"><span
                        class="badge badge-primary">Total: {{ total }}</span> | <span class="badge badge-success">Online: {{ online }}</span>
                </h6>
            </div>
            <div class="card-body">

                <div class="table-responsive">
                    <div class="container box-list">
                        <div class="row">
                            <div class="col-lg-12">
                                {% if messages %}
                                    {% for message in messages %}
                                        <div class="alert {{ message.tags }} alert-dismissible fade show text-center"
                                             role="alert">
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            {{ message | safe }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                        <table class="table table-sm table-hover">
                            <thead>
                            <tr>
                                <th>Titulo</th>
                                <th>Author</th>
                                <th>Categoria</th>
                                <th>Status</th>
                                <th>Opções</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for content_post in post %}
                                <tr>
                                    <td>{{ content_post.titulo|truncatewords:8 }}</td>
                                    <td>{{ content_post.autor }}</td>
                                    <td>
                                        {% for category in content_post.categoria.all %}
                                            {{ category.nome }}
                                        {% endfor %}
                                    </td>
                                    <td>
                                        {% if content_post.status == '1' %}
                                            <span class="badge badge-success">Online</span>
                                        {% else %}
                                            <span class="badge badge-danger">Rascunho</span>
                                        {% endif %}

                                    </td>
                                    <td>
                                        <div class="btn-group btn-group-sm">
                                            <a href="#"
                                               data-confirm='Tem certeza que deseja excluir o Usuário selecionado?'
                                               class="btn btn-primary btn-sm"><i class="far fa-trash-alt"></i></a>
                                            <a href="{% url 'editar_post' content_post.id %}"
                                               class="btn btn-primary btn-sm"><i class="far fa-edit"></i></a>
                                        </div>
                                    </td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="5">
                                         <div class="alert alert-warning alert-dismissible fade show">
                                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                                            <strong>Aviso!</strong> O termo solicitado nao foi encontrado.
                                         </div>

                                    </td>
                                </tr>

                            {% endfor %}
                            </tbody>
                        </table>
                        <div class="container">
                            <div class="row">
                                {% if post.has_other_pages %}
                                    <ul class="pagination pagination-sm">
                                        {% if post.has_previous %}
                                            <li class="page-item"><a href="?page={{ post.previous_page_number }}"
                                                                     class="page-link">Anterior</a></li>
                                        {% else %}
                                            <li class="page-item disabled"><a class="page-link" href="#">Anterior</a>
                                            </li>
                                        {% endif %}
                                        {% for i in post.paginator.page_range %}
                                            {% if post.number == i %}
                                                <li class="page-item active"><a class="page-link" href="#">{{ i }}</a>
                                                </li>
                                            {% else %}
                                                <li class="page-item"><a href="?page={{ i }}"
                                                                         class="page-link">{{ i }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                        {% if post.has_next %}
                                            <li class="page-item"><a href="?page={{ post.next_page_number }}"
                                                                     class="page-link">Próximo</a></li>
                                        {% else %}
                                            <li class="page-item disabled"><a class="page-link" href="#">Próximo</a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <!-- Modal -->
                    <div id="modal-usuario-ver" class="modal fade" tabindex="-1" role="dialog"
                         aria-labelledby="myModalLabel"
                         data-backdrop="static">
                        <div class="modal-dialog modal-lg">
                            <!-- Modal content-->
                            <div class="modal-content">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock body %}
{% block scripts %}
    <script>
        $(function () {
            // VER AGENTE
            $(".ver-usuario").click(function () {

                var btn = $(this);
                var htmlToPrint = '' +
                    '<div class="modal-body">' +
                    '<div class="container">' +
                    '<div class="spinner-border" role="status">' +
                    ' <span class="sr-only">Loading...</span>' +
                    '</div>' +
                    '</div>' +
                    '</div>';

                $.ajax({
                    url: btn.attr("data-url"),
                    type: 'get',
                    dataType: 'json',
                    beforeSend: function () {
                        $("#modal-usuario-ver").modal("show");
                        $("#modal-usuario-ver .modal-content").html(htmlToPrint);
                    },
                    success: function (data) {
                        $("#modal-usuario-ver .modal-content").html(data.html_usuario)
                    }
                });
            });

            $('a[data-confirm]').click(function (ev) {
                var href = $(this).attr('href');
                if (!$('#confirm-delete').length) {
                    $('body').append('<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"><div class="modal-dialog" role="document"><div class="modal-content"><div class="modal-header bg-danger text-white"><h5 class="modal-title" id="exampleModalLabel">Excluir Item</h5><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button></div><div class="modal-body">Tem certeza que deseja excluir o item selecionado?</div><div class="modal-footer"><button type="button" class="btn btn-success" data-dismiss="modal">Cancelar</button><a class="btn btn-danger text-white" id="dataComfirmok" >Apagar</a></div></div></div></div>');
                }
                $('#dataComfirmok').attr('href', href);
                $('#confirm-delete').modal({shown: true});
                return false;
            });

        });


    </script>
{% endblock scripts %}