
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <!-- Title -->
  <title>NO SEGUNDO</title>

  <!-- Required Meta Tags Always Come First -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Favicon -->
  <link rel="shortcut icon" href="../../favicon.ico">

 
  <!-- CSS Implementing Plugins -->
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/ico-fontes/all.css">
 
</head>

<body>
    <!-- ======= HEADER =======-->
    <header class="container-fluid">
        <div class="row-reader">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 mr-auto mt-2 mt-lg-0">
                            <!-- LOGO -->
                            <a href="#">
                               <img class="logo-1" src="./img/nosegundo.png">
                            </a>
                            <!-- FIM LOGO -->
                        </div>
                        <div class="col-md-3">
                            <form class="box-search form-inline my-2 my-lg-0">
                                <!-- Search form -->
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">                                    
                                        <button class="input-group-text" type="submit"><i class="fas fa-search"></i></button>                                    
                                    </div>
                                    <input type="text" class="form-control" aria-label="Text input with checkbox">
                                </div>
                            </form>
                        </div>
                    </div>                    
                </div>
        </div>

        <div class="box-row">
                <hr>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                        <nav class="navbar navbar-expand-lg navbar-light nav-p">
                                <a class="navbar-brand" href="#">Navbar</a>
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
                                <span class="navbar-toggler-icon"></span>
                                </button>
                            
                            <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
                                <ul class="navbar-nav mr-auto nav-border">
                                    <li class="nav-item ">
                                        <a class="nav-link" href="#">Home </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Política</a>
                                    </li>                                
                                    <li class="nav-item">
                                        <a class="nav-link " href="#">Negócios</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link " href="#">Trabalho</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link " href="#">Brasil</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link " href="#">Mundo</a>
                                    </li>
                                    <li class="nav-item">
                                            <a class="nav-link " href="#">Saúde</a>
                                    </li>
                                    <li class="nav-item">
                                            <a class="nav-link " href="#">Entreterimento</a>
                                    </li>
                                </ul>                             
                            </div>
                        </nav>
                </div>
                <div class="col-md-3">
                    <ul class="nav-midias">
                        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
     <!-- ======= FIM HEADER =======-->
    <main class="container-fluid">
        <div class="container box-banner">
            <div class="container-banner-1">                    
            </div>
        </div>
    <!-- ======= Post =======-->
        <div class="container post-box">
            <div class="row">
                <div class="col-md-8">
                    <div class="box-d">

                            <div class="destaques row">  
                                <div class="col-md-12 cat-post">
                                    Economia
                                </div>
                                <div class="col-md-12 data-post">31/07/2019 22h41  Atualizado há uma hora</div>
                                <div class="col-md-12 titulo">
                                    <h1 class="post-titulo">Supremo retoma atividades nesta quinta; Coaf e porte de drogas estão na pauta do 2º semestre</h1>
                                </div>
                                <div class="col-md-12 sub-titulo-box">
                                    <h2 class="sub-titulo">Pauta também prevê julgamento da validade da tabela de fretes dos caminhoneiros. Estão programadas 41 sessões do plenário no segundo semestre.</h2>
                                </div>
                                <div class="col-md-12 acessibilidade-post">
                                    <div class="row">
                                            <div class="col-auto mr-auto"></div>
                                            <div class="col-auto">
                                                    <div id="rvfs-controllers" class="fontsize-controllers group"></div>
                                                </div>
                                    </div>
                                       
                                </div>
                                   <div class="col-md-12 post">
                                    <p>O&nbsp;<a href="#">Supremo Tribunal Federal (STF)&nbsp;</a>retoma os trabalhos nesta quinta-feira (1&ordm;), ap&oacute;s o recesso de meio de ano, com processos pol&ecirc;micos previstos na pauta do segundo semestre, entre os quais o que deve definir os limites para o compartilhamento de informa&ccedil;&otilde;es entre &oacute;rg&atilde;os de controle, como o Coaf, e o Minist&eacute;rio P&uacute;blico.</p>

                                    <p>Tamb&eacute;m na pauta est&atilde;o a validade da tabela de fretes, an&aacute;lise marcada para 4 de setembro, e o porte de drogas para consumo, para 6 de novembro.</p>
                                    
                                    <figure class="figure">
                                        <img class="figure-img img-fluid rounded" alt="Teste de imagem ais um bom teste" src="./img/caminhoneiros.jpg" />
                                        <figcaption class="figure-caption">Legenda</figcaption>
                                    </figure>   
                                    <p>Embora a Ordem dos Advogados do Brasil (OAB) tenha pedido a inclus&atilde;o, a pauta divulgada ainda n&atilde;o prev&ecirc; o julgamento sobre a validade das pris&otilde;es ap&oacute;s condena&ccedil;&atilde;o em segunda inst&acirc;ncia.</p>
                                    
                                    <p>A previs&atilde;o &eacute; de que sejam realizadas 41 sess&otilde;es ao longo do semestre, parte das quais pela manh&atilde; &ndash; normalmente, as sess&otilde;es do STF s&atilde;o realizadas &agrave; tarde.</p>
                                    
                                    <p>Segundo o STF, a medida visa permitir que os ministros, ao menos uma semana por m&ecirc;s, possam se dedicar a casos individuais, fora do plen&aacute;rio.</p>
                                    
                                    <p>Toffoli pretende antecipar julgamento sobre caso Coaf</p>
                                    
                                    <p>Jornal GloboNews edi&ccedil;&atilde;o das 18h</p>
                                    
                                    <p>O Supremo Tribunal Federal (STF) deve definir at&eacute; que ponto &oacute;rg&atilde;os de controle &ndash; como o Conselho de Controle de Atividades Financeiras (Coaf), a Receita Federal e o Banco Central &ndash; podem&nbsp;<a href="https://g1.globo.com/politica/noticia/2019/07/23/julgamento-no-stf-devera-definir-limites-para-compartilhamento-de-informacoes-sigilosas-entenda.ghtml">compartilhar dados fiscais e banc&aacute;rios de cidad&atilde;os</a>&nbsp;com o Minist&eacute;rio P&uacute;blico para embasar investiga&ccedil;&otilde;es criminais.</p>
                                    
                                    <p>Esse assunto &eacute; o tema de um recurso previsto inicialmente para julgamento em 21 de novembro pelo plen&aacute;rio da Suprema Corte. Como o recurso ter&aacute; repercuss&atilde;o geral, a decis&atilde;o valer&aacute; para todos os casos semelhantes nas demais inst&acirc;ncias do Judici&aacute;rio.</p>
                                    
                                    <p>Diante da decis&atilde;o do presidente da Corte, ministro Dias Toffoli, que paralisou parte das investiga&ccedil;&otilde;es no pa&iacute;s durante o recesso de julho, a expectativa &eacute; que a data do julgamento seja antecipada. A decis&atilde;o foi tomada ap&oacute;s um pedido do senador Fl&aacute;vio Bolsonaro (PSL-RJ) nesse recurso.</p>
                                    
                                    <p>Governo federal suspende nova tabela de frete ap&oacute;s press&atilde;o dos caminhoneiros</p>
                                    
                                    <p><strong>Bom Dia Brasil</strong></p>                                    
                                   
                                    
                                    <p>Governo federal suspende nova tabela de frete ap&oacute;s press&atilde;o dos caminhoneiros</p>
                                    
                                    <p>&nbsp;</p>
                                    
                                    <h2><strong>Tabela de frete</strong></h2>
                                    
                                    <p>&nbsp;</p>
                                    
                                    <p>A&ccedil;&otilde;es apresentadas ao STF contestam a medida provis&oacute;ria (j&aacute; convertida em lei) editada no governo Michel Temer que instituiu a tabela com&nbsp;<a href="https://g1.globo.com/politica/noticia/2019/06/14/stf-marca-datas-para-julgar-tabela-de-frete-e-porte-de-drogas.ghtml">pre&ccedil;os m&iacute;nimos para o frete rodovi&aacute;rio</a>. Na ocasi&atilde;o, a MP atendeu aos caminhoneiros, que faziam greve em todo o pa&iacute;s.</p>
                                    
                                    <p>Entidades empresariais argumentam que estabelecer um pre&ccedil;o m&iacute;nimo viola princ&iacute;pios da livre concorr&ecirc;ncia, da livre iniciativa e da defesa do consumidor.</p>
                                    
                                    <p>O relator do caso, ministro Luiz Fux, suspendeu processos na Justi&ccedil;a que tratavam sobre o tema para n&atilde;o haver inseguran&ccedil;a a respeito do tabelamento. Fux tamb&eacute;m chegou a comandar debates entre representantes do governo, das empresas e dos caminhoneiros.</p>
                                    
                                    <p>&nbsp;</p>
                                    
                                    <h2><strong>Porte de drogas</strong></h2>
                                    
                                    <p>&nbsp;</p>
                                    
                                    <p>Tr&ecirc;s dos 11 ministros do STF j&aacute; se manifestaram sobre o tema em 2015, quando o caso come&ccedil;ou a ser julgado.</p>
                                    
                                    <p>Na ocasi&atilde;o, o ministro Teori Zavascki, morto em janeiro de 2017, pediu vista (mais tempo para analisar o caso). O processo ficou com o sucessor, Alexandre de Moraes, que liberou o tema para julgamento no fim do ano passado.</p>
                                    
                                    <p>Os tr&ecirc;s ministros que j&aacute; votaram propuseram a descriminaliza&ccedil;&atilde;o do&nbsp;<a href="https://g1.globo.com/politica/noticia/2019/06/14/stf-marca-datas-para-julgar-tabela-de-frete-e-porte-de-drogas.ghtml">porte de drogas&nbsp;</a>para uso pr&oacute;prio. Como o caso tem repercuss&atilde;o geral, o que for decidido pelo STF ter&aacute; efeito em todas as a&ccedil;&otilde;es que tramitam na Justi&ccedil;a do pa&iacute;s.</p>
                                    
                                    <p>Quando o caso come&ccedil;ou a ser julgado, o relator, Gilmar Mendes, votou pela inconstitucionalidade do artigo 28 da Lei de Drogas, segundo o qual &eacute; crime pun&iacute;vel com penas alternativas &quot;comprar, portar ou transportar drogas para consumo pessoal&quot;. Pelo voto, n&atilde;o seria crime o porte de nenhuma droga, como coca&iacute;na, por exemplo.</p>
                                    
                                    <p>Os ministros Luiz Edson Fachin e Lu&iacute;s Roberto Barroso, embora tamb&eacute;m tenham se manifestado pela inconstitucionalidade do artigo 28, limitaram o voto ao porte de maconha.</p>
                                    
                                    <p>&nbsp;</p>
                                    
                                    <h2><strong>Responsabilidade fiscal</strong></h2>
                                    
                                    <p>&nbsp;</p>
                                    
                                    <p>Em 21 de agosto, a Corte deve retomar o j<a href="https://g1.globo.com/politica/noticia/2019/06/25/em-audiencia-no-stf-estados-cobram-analise-de-mudancas-nas-lei-de-responsabilidade-fiscal.ghtml">ulgamento de oito a&ccedil;&otilde;es sobre a Lei de Responsabilidade Fiscal&nbsp;</a>e a possibilidade de se reduzir a jornada de trabalho dos servidores p&uacute;blicos e adequar vencimentos para reduzir despesas. Esses dispositivos est&atilde;o suspensos por liminar (decis&atilde;o tempor&aacute;ria).</p>
                                    
                                    <p>O julgamento do m&eacute;rito das a&ccedil;&otilde;es come&ccedil;ou em fevereiro com o relat&oacute;rio e manifesta&ccedil;&atilde;o das partes, mas ainda n&atilde;o houve nenhum voto. O relator &eacute; o ministro Alexandre de Moraes.</p>
                                    
                                    <p>Pela Lei de Responsabilidade Fiscal, estados e munic&iacute;pios n&atilde;o podem gastar mais do que 60% da receita corrente l&iacute;quida com servidores. A medida &eacute; apresentada como alternativa para casos em que administra&ccedil;&atilde;o p&uacute;blica ultrapassa este limite.</p>
                                    
                                    <ul>
                                    </ul>
                                    

                                   </div>                            
                            </div> 
                    </div>
                    
                    
                </div>
                <div class="col-md-4 widgets-right">
                        <div class="card _border">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Search">
                                <div class="input-group-append">
                                    <button class="btn btn-secondary" type="submit">buscar</button> 
                                </div>
                            </div>
                        </div>
                       
                        <!--Publicidade 1 post-->
                        <div class="card box-card box-card-margin color-box" >                               
                            <div class="card-body">
                                <p class="card-text">Banner 1 ----------------------</p>
                            </div>
                        </div>
                        
                        <!--Fim Plublicidade 1 post-->
                        <div class=" box-card-economia box-card-margin">
                            <div class="box-title"><i class="fas fa-plus"></i> Lidas em Economia</div>                          
                            
                            <div class="list-group  list-group-flush nav-economia ">
                                    <a href="#" class="list-group-item list-group-item-action"><span>1.</span> SALÁRIO DE R$ 1 MIL: Divulgado edital para seleção de jovens do Programa de Prestação Voluntária</a>
                                    <a href="#" class="list-group-item list-group-item-action"><span>2.</span>Second item</a>
                                    <a href="#" class="list-group-item list-group-item-action"><span>3.</span>Third item</a>
                                    <a href="#" class="list-group-item list-group-item-action"><span>4.</span> SALÁRIO DE R$ 1 MIL: Divulgado edital para seleção de jovens do Programa de Prestação Voluntária</a>
                                    <a href="#" class="list-group-item list-group-item-action"><span>5.</span>Second item</a>
                                    <a href="#" class="list-group-item list-group-item-action"><span>6.</span>Third item</a>
                                    <a href="#" class="list-group-item list-group-item-action"><span>7.</span> item</a>
                                    <a href="#" class="list-group-item list-group-item-action"><span>8.</span>Second item</a>
                                    <a href="#" class="list-group-item list-group-item-action"><span>9.</span>Third item</a>
                                    <a href="#" class="list-group-item list-group-item-action"><span>10.</span> SALÁRIO DE R$ 1 MIL: Divulgado edital para seleção de jovens do Programa de Prestação Voluntária</a>                                   
                            </div>
                               
                        </div>
                        <!--Publicidade 5-->
                        <div class="card box-card box-card-margin color-box" >                               
                            <div class="card-body">
                                <p class="card-text">Banner 5 -------------------</p>
                            </div>
                        </div>
                        <!--Fim Publicidade 5-->
                        
                </div>

            </div>
        </div>
    <!-- ======= FIM Post =======-->

    </main>
     <!--Publicidade 8-->
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-7 ml-md-auto container-banner-2">

                </div>

            </div>
        </div>
    </div>
     <!--Fim Publicidade 8-->
    <footer class="container-fluid footer-box">
      
            <div class="row row-footer">
                <div class="col-auto mr-auto">
                        <address class="address-info">
                           <a href="http://#" class="logo-footer"><img src="./img/nosegundo.png" alt=""></a> 
                 
                            Porto Velho - Rondônia CNPJ:000/0001/240  <a href="mailto:nosegundo@gmail.com">Redação: nosegundo@gmail.com </a>
                        </address> 
                </div>
                <div class="col-auto">
                    <a href="mailto:nosegundo.comercial@gmail.com" class="email-comercial">Anuncie Conosco: nosegundo.comercial@gmail.com</a>
                </div>
          
        </div>

    </footer>
    
     <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
     <script src="js/bootstrap.min.js"></script>
     <script type='text/javascript' src='js/rv-jquery-fontsize-2.0.3.min.js'></script>
     <script>
    $(document).ready(function () {
        $.rvFontsize({
            targetSection: '.post',
            store: true, // store.min.js required!
            controllers: {
                appendTo: '#rvfs-controllers',
                showResetButton: true
            }
        });
    });
     
     </script>

</body>
</html>