@font-face {
    font-family: 'Franklin Gothic Demi';
    src: url('./webfonts/FranklinGothic-Demi.woff2') format('woff2'),
        url('./webfonts/FranklinGothic-Demi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Charter BT';
    src: url('./webfonts/CharterBT-Roman.woff2') format('woff2'),
        url('./webfonts/CharterBT-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

