{% extends 'dashboard/password-edit.html' %}

{% block title %}Esqueceu sua senha?{% endblock %}
{% load crispy_forms_tags %}

{% block body %}
     <form method="POST">
                    {% csrf_token %}

                        <div class="form-group">
                            {{ form.old_password|as_crispy_field }}
                        </div>


                        <div class="form-group ">
                            {{ form.new_password1|as_crispy_field }}
                        </div>


                        <div class="form-group ">
                            {{ form.new_password2|as_crispy_field }}
                        </div>


                    <hr>
                    <div class="row">
                        <div class="col-md-5">
                            <button type="submit" class="btn btn-success small">SALVAR</button>
                        </div>
                        <div class="col-md-5">
                            <a class="btn btn-warning" href="{% url 'lista_usu' %}">CANCELAR</a>
                        </div>
                    </div>
                </form>
    <!-- ----------------------------------------------- -->
{% endblock body %}
{% block scripts %}
    <script>
        $("#id_old_password").addClass("form-control form-control-user");
        $("#id_new_password1").addClass("form-control form-control-user");
        $("#id_new_password2").addClass("form-control form-control-user");
    </script>
{% endblock scripts %}